<div class="row mt-4 pl-3 dashboard ">
  <div class="col-xs-12 col-md-6">
    <div class="row">
      <div class="col col-sm-6 pb-4">
        <mat-card [ngClass]="'danger'" >
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="icon-lg">help_outline </mat-icon>
              </div>
              <mat-card-title>3</mat-card-title>
              <mat-card-subtitle>Pending properties</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button >View Details</button>
            </mat-card-actions>
        </mat-card>
     </div>
    <div class="col col-sm-6">
        <mat-card [ngClass]="'success'" >
            <mat-card-header>
              <div mat-card-avatar>
                <mat-icon class="icon-lg">verified</mat-icon>
              </div>
              <mat-card-title>2</mat-card-title>
              <mat-card-subtitle>Verified properties</mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <button mat-button >View Details</button>
            </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
  </div>  
</div>
