<div class="text-primary  mb-4 text-center">please fill these details</div>
<div class="row">
    <mat-form-field>
        <input matInput placeholder="Enter Name" color="primary" [(ngModel)]="name" >
    </mat-form-field>
</div> 
<div class="row mt-2">
    <mat-form-field>
        <input matInput placeholder="Enter Mobile Number"  [(ngModel)]="mobile">
    </mat-form-field>
</div>
<div class="row mt-2">
    <mat-form-field>
        <input  matInput placeholder="Enter email"  [(ngModel)] ="mail">
    </mat-form-field>
</div>
<div  class="d-flex justify-content-around mt-4">                 
    <button mat-raised-button color="primary" class="cancel w-50" (click)="closeDialog()">Cancel</button>                  
    <button mat-raised-button color="primary" class="sumbit w-50" (click)="submit()" >Submit</button>                                             
</div> 
  
