
<div class="col-md-6 container">
    <h2 class="text-center">Add Property Image</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()"> 
   <div class="form-group">
        <label for="image">Image:</label>
        <input formControlName="image" type="file" name="image" class="form-control" multiple (change)="onFileChange($event)" id="image">
     <div *ngIf="f.image.touched && f.image.invalid" class="alert alert-danger">
          <div *ngIf="f.image.errors.required">Image is required.</div>
        </div>
      </div>
      <div class="form-group">
   <img *ngFor='let url of images' [src]="url" style="height:150px; width:200px; margin-right:3px;">
   </div>
      <button class="btn btn-success">Add</button>
    </form>
  </div>